.containerprivacy{
  width: clamp(320px, 80%, 1200px);
  margin: 0 auto;
  height: 100%;
  border: 1px solid #aaa;
  margin-top: 2%;
  padding: 2rem;
  margin-bottom: 1rem;
}

.containerprivacy h1{
 font-size: clamp(1rem, 1.5vw, 2rem);
 width: 80%;
 margin: 0 auto;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: .3px;
 font-weight: 600;
}

.containerprivacy p{
    font-size: clamp(.8rem, 1vw, 1.5rem);
    width: 80%;
    margin: 0 auto;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: .1px;
    margin-top: 2rem;
    line-height: 1.6rem; 
   }
   



